
@{
    ViewData["Title"] = "PrintInfoCardOrnaments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img style="width:450;height:400px;" src="~/images/news3.jpg" />

<h3>Различните орнаменти</h3>
<p>
    Различните орнаменти, везбани в отделните шевици представляват знаци и символи, в които е закодирано невероятно послание.
    Освен естетически да красят одеждите в миналото, чрез тях майсторките на везмото са олицетворявали култа към земята, слънцето, звездите и природата.
    По време на извезването им българките са пренасяли своята обич и своята благословия върху грубите платове на облеклото и наричали със своята надежда за предпазване от „зли сили“ и „лоши очи“, за плодородие, здраве и берекет, като така са ги съхранили хилядолетия наред.
    Предавайки си тази сакрална информация заедно със символи и сръчности от майка на дъщеря или от баба на внучка са си предавали знание за първичната връзка към КОРЕНА, Земята и природата.

    Шевицата е част от всеки един от нас, част от връзката ни с корена. Важно е това знание и тази сила пренесени от миналото в настоящето да бъдат съхранени по пътя към бъдещето!
</p>

