
@{
    ViewData["Title"] = "PrintInfoCardSymbol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img style="width:450;height:400px;" src="~/images/news2.jpg" />

<h3>Символизирането на рода в българската шевица.</h3>
<p>
    Обикновено родителите изграждат и поддържат такъв семеен модел, в какъвто сами са израснали, който им е познат и близък. Ето защо родът в българската култура винаги е бил ключова институция с изключително дълбоки корени. На него преди всичко е поверено опазването и предаването от поколение на поколение на морални и духовни ценности.

    Не случайно една от най-често срещаните теми във везбата на предците ни, е темата за на рода, семейството, плодовитостта и благоденствието им.
    Символизирането на рода в българската шевица е чрез ромб или дърво. Ето защо ромбът и дървото са едни от най-важните елементи във везбането.
    Одеждите с ромбовидни фигури маркират детеродната част на женското тяло от времената на дедите ни. При полово зрелите девойки и невестите, тя била знак, че те вече могат да раждат деца и да участват във възпроизводството на рода.
    Много често орнаментът е изграден от ромбоидно изображение с реснички, кукички и вписани по-дребни ромбчета в тях.

    Произходът на българската шевица е тясно свързан с най-древните вярвания на народа ни. Принадлежността към род, народ и история се свързват в едно и чрез това се определя смисълът на човешкия живот.
    Съхраняването и предаването на принадлежността са от движещите сили на традицията от корена към който принадлежи всеки българин.

    Съхранете и предайте!
</p>

