
@{
    ViewData["Title"] = "PrintInfoCardShevitsa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img style="width:450;height:400px;" src="~/images/shevitsa.jpg"/>

<h3>Шевицата не е просто сбор от естетически символи красящи една материя.</h3>
<p>
    Тя е предаване на родова памет, на история, на древно знание, наследено чрез културните традиции на предците ни.
    Самата шевица е видимото изражение на онова, което носим в съзнанието си – любов, на онова, което родовата памет пази вътре в нас – сила и история!

    История на свободата и робството, които живеят във всеки един от нас. Носим ги като белег от нож, за да не забравяме, чии потомци сме и какво можем да завещаем на идните поколения.
    Животът ни отвежда на неочаквани места, а любовта ни отвежда у дома.
    Обичайте близките си, родината си, не забравяйте историята си, не забравяйте кои сте!

    Помнете символите, защото в тях е криптирана силата на предците ни, древно знание, което ни закриля и до днес. Особено днес, когато ние повече от всякога имаме нужда от силна връзка с корените си. Защото именно днес, макар и видимо свободни, робството заема все по-голяма площ от съзнанието ни!

    Не губете връзката с корена си, не губете силата, която носите!
</p>
