
@{
    ViewData["Title"] = "News";
}

    <div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/news1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Шевица – видимото изражение на онова, което носим в себе си</h5>
                <p class="card-text">
                    Тя е предаване на родова памет, на история, на древно знание, наследено чрез културните традиции на предците ни.
                    Самата шевица е видимото изражение на онова, което носим в съзнанието си – любов, на онова, което родовата памет пази вътре в нас – сила и история!
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/images/news2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Символизирането на рода в българската шевица</h5>
                <p class="card-text">Произходът на българската шевица е тясно свързан с най-древните вярвания на народа ни. Принадлежността към род, народ и история се свързват в едно и чрез това се определя смисълът на човешкия живот.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/images/news3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Различните орнаменти</h5>
                <p class="card-text">Различните орнаменти, везбани в отделните шевици представляват знаци и символи, в които е закодирано невероятно послание.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>