@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="contacts-container">
    <div class="contacts-info">
        <h1 class="headingC">Контакти</h1>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;" src="~/images/location.png">
            <p>ул. 'Стоян Михайловски' до Бианко</p>
        </div>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;" src="~/images/phone.jpg">
            <p>088 770 xxxx</p>
        </div>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;" src="~/images/facebook.png">
            <a style="text-decoration: none;color: darkred;" href="https://www.facebook.com/rizi.hop.trop/">
                Народни
                танци
                "Хоп Троп"
            </a>
        </div>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;margin-top: 5px;" src="~/images/email.png">
            <a style="text-decoration: none;color: darkred;margin-top: 10px;" href="mailto:ilian_levski@abv.bg">ilian_xxxxx@abv.bg</a>
        </div>
    </div>
</div>
