@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="contacts-container" style="font-size: 25px;">
    <div class="contacts-info">
        <h1 class="headingC">Контакти</h1>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;display: inline-block; vertical-align: middle;" src="~/images/location.png">
            <p style="display: inline-block; vertical-align: middle;">ул. 'Стоян Михайловски' до Бианко</p>
        </div>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;display: inline-block; vertical-align: middle;" src="~/images/phone.jpg">
            <a onclick="myFunction()">088xxxxxxx</a>
            <p id="number" style="display: none;">0887 706 166</p>
        </div>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;display: inline-block; vertical-align: middle;" src="~/images/facebook.png">
            <a style="text-decoration: none;color: white;" href="https://www.facebook.com/rizi.hop.trop/">
                Народни
                танци
                "Хоп Троп"
            </a>
        </div>
        <div class="contact">
            <img class="contact-icon" style="width: 30px;height: 30px;margin-top: 5px;display: inline-block; vertical-align: middle;" src="~/images/email.png">
            <a style="text-decoration: none;color: white;margin-top: 10px;" href="mailto:ilian_levski@abv.bg">ilian_xxxxx@abv.bg</a>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById('number');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>